<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- Meta Tags -->
    <title>Login | Smokify</title>
    <meta name="title" content="Login | Smokify" />
    <meta
      name="description"
      content="Smokify redefines music streaming, granting instant access to millions of songs sans downloads"
    />

    <!-- Favicon -->
    <link rel="shortcut icon" href="" />
  </head>

  <body>
    <h1>Hello world</h1>
  </body>
</html>
